.accordion {
  padding: rem(30);
  background: #fff;

  cursor: pointer;

  &.open {
    .accordion__head-module {
      background: var(--secondary-color);
    }

    .accordion__body {
      grid-template-rows: 1fr;
    }

    .accordion__close {
      transform: rotate(180deg);
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: rem(20);
  }

  &__head-inner {
  }

  &__head-module {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(18);
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fff;

    max-width: max-content;

    border-radius: rem(20);
    padding: rem(5) rem(10);
    margin-bottom: rem(20);
    background: var(--main-color);

    transition: all 0.3s ease;
  }

  &__head-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(28);
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--main-color);
  }

  &__close {
    width: rem(30);
    height: rem(30);
    transition: all 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;

    overflow: hidden;
    transition: all 0.3s ease;

    cursor: auto;
  }

  &__body-height {
    min-height: 0;
  }

  &__body-inner {
    padding-top: rem(10);

    p,
    li {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 130%;
      letter-spacing: -0.02em;
      color: var(--main-color);
    }

    ul,
    ol {
      font-size: rem(20);
    }

    ul {
      list-style-position: inside;

      li {
        display: flex;
        align-items: center;
        gap: 5px;

        line-height: 1;

        &::before {
          content: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0C7.41101 3.68235 10.3176 6.58899 14 7C10.3176 7.41101 7.41101 10.3176 7 14C6.58899 10.3176 3.68235 7.41101 0 7C3.68235 6.58899 6.58899 3.68235 7 0Z" fill="%23964E13" /></svg>');
          display: block;
          width: 14px;
          height: 14px;
        }
      }
    }

    ol {
      list-style-position: inside;
    }

    *:not(:last-child) {
      margin-bottom: 0.6em;
    }
  }
}
