.anchors {
  position: fixed;
  top: 0;
  z-index: 9;
  right: rem(37);

  height: 100dvh;
  width: rem(20);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: rem(30);

  @include mobile {
    display: none;
  }

  &__item {
    flex: 0 0 auto;

    width: rem(16);
    height: rem(16);

    opacity: 0.5;

    border-radius: 100%;
    background: #fff;

    transition: opacity 0.3s ease;

    cursor: pointer;

    &.active {
      opacity: 1;
      width: rem(20);
      height: rem(20);
    }
  }
}
