.author {
  margin-block: rem(150) rem(75);

  @include mobile {
    margin-block: rem(60) rem(40);
  }

  &__inner {
    display: flex;
    align-items: start;
    gap: rem(100);

    @include mobile {
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__left {
    flex: 1 1 auto;
  }

  &__title {
  }

  &__img {
    margin-top: rem(24);
    display: block;

    border-radius: rem(10);
    width: rem(288);
    height: rem(312);
  }

  &__author {
    margin-top: rem(30);

    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(48);
    line-height: 100%;
    color: var(--main-color);

    span {
      display: block;
      font-style: italic;
      font-weight: 500;

      @include mobile {
        display: inline;
      }
    }

    @include mobile {
      margin-top: rem(24);

      font-size: rem(32);
    }
  }

  &__body {
    flex: 0 0 rem(1275);

    padding-top: rem(39);

    @include mobile {
      flex: 1 1 auto;

      display: flex;
      flex-direction: column-reverse;
      gap: rem(40);

      padding-top: 0;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(32);
    line-height: 130%;
    color: var(--main-color);

    @include mobile {
      font-size: rem(24);
    }
  }

  &__cards {
    margin-top: rem(75);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);

    @include mobile {
      margin-top: 0;

      grid-template-columns: 1fr;
      gap: rem(16);
    }
  }

  &__card {
    min-width: 0;
  }

  &__card-title {
    margin-bottom: rem(25);

    @include mobile {
      margin-bottom: rem(14);
    }
  }

  &__card-info {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(36);
    line-height: 120%;
    color: var(--main-color);

    @include mobile {
      font-size: rem(18);
    }

    span {
      font-size: rem(52);

      @include mobile {
        font-size: rem(24);
      }
    }
  }
}
