.first {
  margin-block: rem(100);

  &__inner {
    display: flex;
    gap: rem(160);
    padding-bottom: rem(60);
  }

  &__img {
    width: rem(586);
    height: rem(743);
    border-radius: rem(10);
  }

  &__info {
    padding-top: rem(118);
  }

  &__title {
  }

  &__title-line {
    font-family: var(--font4);
    font-weight: 400;
    font-size: rem(96);
    line-height: 100%;
    color: var(--main-color);

    display: flex;
    align-items: end;
    gap: rem(20);

    &:nth-child(1) {
      .first__title-decor {
        width: rem(102);
        height: rem(51);
      }
    }

    &:nth-child(2) {
      .first__title-decor {
        width: rem(53);
        height: rem(53);
      }
    }

    &:nth-child(3) {
      padding-left: rem(150);

      .first__title-decor {
        width: rem(102);
        height: rem(43);
      }
    }
  }

  &__title-decor {
    margin-bottom: rem(10);
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(24);
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--main-color);

    margin-top: rem(50);
    margin-left: rem(150);
    max-width: rem(363);
  }

  &__link {
    font-size: rem(20);
    min-height: rem(52);
    padding-inline: rem(50) rem(60);

    margin-top: rem(25);
    margin-left: rem(150);
    max-width: max-content;
  }
}
