.footer {
  margin-top: rem(150);
  padding-block: rem(30) rem(50);
  border-radius: rem(30) rem(30) 0 0;
  background: #3d2116;

  &__inner {
  }

  &__header {
    width: 100%;
    height: rem(62);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(20);
    }

    &-left {
      display: flex;
      align-items: center;
      gap: rem(253);
    }

    &-logo {
      position: relative;
      width: rem(202);
      height: rem(62);
    }

    &-logo-icon {
      width: 100%;
      height: 100%;
    }

    &-logo-subtitle {
      position: absolute;
      top: calc(100% + rem(2));
      left: 0;

      font-family: var(--font-family);
      font-weight: 300;
      font-size: rem(20);
      line-height: 130%;
      color: var(--white-color);
      opacity: 0.5;
    }

    &-links {
      display: flex;
      align-items: center;
      gap: rem(20);
    }

    &-link {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(24);
      line-height: 150%;
      color: var(--white-color);
      transition: opacity 0.3s ease;

      @include hover {
        opacity: 0.7;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: rem(50);
    }

    &-phone {
      display: flex;
      align-items: center;
      gap: rem(6);

      font-family: var(--font4);
      font-weight: 500;
      font-size: rem(24);
      font-variant: lining-nums;
      font-feature-settings: "lnum";
      line-height: 100%;
      color: var(--white-color);
      transition: opacity 0.3s ease;

      @include hover {
        opacity: 0.7;
      }
    }

    &-phone-img {
      width: rem(24);
      height: rem(24);
    }

    &-record {
      font-size: rem(18);
      min-height: rem(50);
      padding-inline: rem(30) rem(40);
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    gap: rem(123);
    padding-top: rem(68);

    &-links {
      display: flex;
      align-items: center;
      gap: rem(30);
    }

    &-link {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: rem(16);
      line-height: 110%;
      color: #fff;
      transition: opacity 0.3s ease;

      @include hover {
        opacity: 0.7;
      }
    }

    &-copyright {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: rem(18);
      line-height: 110%;
      color: rgba(255, 255, 255, 0.65);

      max-width: rem(818);
    }
  }
}
