.header {
  position: relative;
  z-index: 10;
  top: rem(30);
  left: 0;
  width: 100%;
  height: rem(62);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: rem(50);
  }

  &__logo {
    position: relative;
    width: rem(202);
    height: rem(62);
  }

  &__logo-icon {
    width: 100%;
    height: 100%;
  }

  &__logo-subtitle {
    position: absolute;
    top: calc(100% + rem(2));
    left: 0;

    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(20);
    line-height: 130%;
    color: var(--main-color);
    opacity: 0.5;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: rem(30);
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(20);
    line-height: 150%;
    color: var(--main-color);
    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.7;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: rem(33);
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: rem(6);

    font-family: var(--font4);
    font-weight: 500;
    font-size: rem(24);
    font-variant: lining-nums;
    font-feature-settings: "lnum";
    line-height: 100%;
    color: var(--main-color);
    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.7;
    }
  }

  &__phone-img {
    width: rem(24);
    height: rem(24);
  }

  &__record {
    font-size: rem(18);
    min-height: rem(50);
    padding-inline: rem(30) rem(40);
  }
}
