.header {
  position: relative;
  z-index: 10;
  margin-top: rem(30);
  left: 0;
  width: 100%;
  height: rem(62);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(15);

      padding-block: rem(110) rem(20);
      overflow-y: auto;
      //
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: var(--white-color);

      // anim
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
      transition: all 0.3s ease;

      .header__logo {
        display: none;
      }

      &.menu--active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: rem(50);
  }

  &__logo {
    position: relative;
    width: rem(202);
    height: rem(62);

    @include mobile {
      width: rem(140);
      height: rem(43);
    }
  }

  &__logo-icon {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: left;
  }

  &__logo-subtitle {
    position: absolute;
    top: calc(100% + rem(2));
    left: 0;

    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(20);
    line-height: 130%;
    color: var(--main-color);
    opacity: 0.5;

    @include mobile {
      display: none;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: rem(30);

    @include mobile {
      flex-direction: column;
      gap: rem(10);
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(20);
    line-height: 150%;
    color: var(--main-color);
    transition: opacity 0.3s ease;

    @include mobile {
      font-size: rem(16);
    }

    @include hover {
      opacity: 0.7;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: rem(33);

    @include mobile {
      flex-direction: column;
      gap: rem(10);
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: rem(6);

    font-family: var(--font4);
    font-weight: 500;
    font-size: rem(24);
    font-variant: lining-nums;
    font-feature-settings: "lnum";
    line-height: 100%;
    color: var(--main-color);
    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.7;
    }

    @include mobile {
      font-size: rem(20);
    }
  }

  &__phone-img {
    width: rem(24);
    height: rem(24);

    @include mobile {
      width: rem(20);
      height: rem(20);
    }
  }

  &__record {
    font-size: rem(18);
    min-height: rem(50);
    padding-inline: rem(30) rem(40);

    @include mobile {
      font-size: rem(16);
      min-height: rem(40);
      padding-inline: rem(20) rem(30);
    }
  }
}

.header-mobile {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    height: rem(63);
  }

  &__burger {
    display: grid;
    place-content: center;

    width: rem(42);
    height: rem(42);

    border-radius: rem(4);
    background: var(--white-color);

    cursor: pointer;
  }
}

.burger {
  @include burger;
}
