.history {
  margin-block: rem(75) rem(260);

  @include mobile {
    margin-block: rem(40) rem(60);
  }

  &__inner {
  }

  &__wrapper {
    display: flex;
    align-items: start;
    gap: rem(100);

    @include mobile {
      flex-direction: column;
      gap: rem(25);
    }
  }

  &__title {
    padding-top: rem(140);
    flex: 1 1 auto;

    @include mobile {
      padding-top: 0;
    }
  }

  &__body {
    flex: 0 0 rem(1275);

    @include mobile {
      flex: 1 1 auto;
    }
  }

  &__top {
    display: flex;
    gap: rem(20);

    padding-bottom: rem(90);

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      padding-bottom: rem(16);
    }
  }

  &__top-left {
    flex: 0 0 rem(435);

    @include mobile {
      flex: 1 1 auto;
    }
  }

  &__top-left-text {
    padding: rem(120) rem(0) rem(90) 0;
    max-width: rem(375);

    @include mobile {
      padding: 0;
      max-width: none;
    }
  }

  &__top-left-img {
    display: block;
    border-radius: rem(10);

    width: rem(435);
    height: rem(650);

    @include mobile {
      margin-top: rem(16);
      width: rem(286);
      height: rem(430);
    }
  }

  &__top-right {
  }

  &__top-right-text {
    padding: rem(60) 0 0 rem(40);
    max-width: rem(707);

    @include mobile {
      padding: 0;
    }
  }

  &__top-right-img {
    display: block;
    border-radius: rem(10);

    width: rem(820);
    height: rem(890);
  }

  &__middle {
  }

  &__middle-top {
    display: flex;
    align-items: start;
    gap: rem(20);

    height: rem(390);

    @include mobile {
      flex-direction: column;
      gap: rem(16);

      height: auto;
    }
  }

  &__middle-message {
    margin-block: auto;
    padding: rem(17) 0 rem(17) rem(32);

    max-width: rem(475);

    @include mobile {
      order: 2;

      padding: rem(0) rem(0) rem(0) rem(20);
      margin: rem(30) 0;
    }
  }

  &__middle-img-1 {
    border-radius: rem(10);

    width: rem(283);
    height: rem(390);

    @include mobile {
      width: rem(286);
      height: rem(390);

      order: 1;
    }
  }

  &__middle-img-2 {
    border-radius: rem(10);

    width: rem(487);
    height: rem(638);

    @include mobile {
      width: rem(286);
      height: rem(374);

      order: 3;
    }
  }

  &__middle-text {
    padding-top: rem(150);
    max-width: rem(705);

    @include mobile {
      padding-top: rem(16);
    }
  }

  &__messages {
    display: block;

    width: 100%;
    height: rem(772);

    margin-block: rem(100) rem(120);
    object-fit: contain;
    object-position: left;

    @include mobile {
      width: 100%;
      height: auto;

      margin-block: rem(16);
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    gap: rem(55);

    // display: none;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
      gap: rem(16);
    }
  }

  &__bottom-left {
  }

  &__bottom-img {
    flex: 0 0 auto;

    width: rem(668);
    height: rem(998);

    border-radius: rem(10);
    margin-bottom: rem(43);

    @include mobile {
      width: rem(289);
      height: rem(432);

      margin-bottom: 0;
    }
  }

  &__bottom-message {
    margin-block: rem(85);
    padding: rem(10) 0 rem(10) rem(35);

    @include mobile {
      margin-block: rem(16);
      padding: 0 0 0 rem(20);
    }
  }

  &__scope {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: rem(50);

    margin-top: rem(90);

    @include mobile {
      flex-direction: column;
      gap: rem(16);

      margin-top: rem(16);
    }
  }

  &__scope-title {
    flex: 0 0 auto;

    div {
      font-family: var(--font4);
      font-weight: 400;
      font-size: rem(96);
      line-height: 100%;
      color: var(--main-color);

      @include mobile {
        font-size: rem(28);
      }

      &:nth-child(2) {
        margin-left: rem(150);

        @include mobile {
          margin-left: 0;
        }
      }
    }
  }

  &__scope-author {
    max-width: rem(483);
  }

  &__scope-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(32);
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--main-color);

    margin-block: rem(35) rem(30);

    @include mobile {
      font-size: rem(18);
      margin-block: 0 rem(16);
    }
  }

  &__scope-post {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: rem(20);

    @include mobile {
      gap: rem(10);
      align-items: end;
      justify-content: start;
    }
  }

  &__scope-post-info {
    font-family: var(--font4);
    font-weight: 400;
    font-size: rem(36);
    line-height: 100%;
    color: var(--main-color);

    @include mobile {
      font-size: rem(24);
    }
  }

  &__scope-post-name {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: rem(32);
    line-height: 100%;
    color: var(--main-color);

    @include mobile {
      font-size: rem(22);
    }

    span {
      font-weight: 300;
    }
  }
}

.history-cms {
  p,
  li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(22);
    line-height: 130%;
    letter-spacing: -0.02em;
    color: var(--main-color);

    @include mobile {
      font-size: rem(16);
    }
  }

  ul,
  ol {
    font-size: rem(20);
  }

  ul {
    list-style-position: inside;

    li {
      display: flex;
      align-items: center;
      gap: 5px;

      line-height: 1;

      &::before {
        content: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 0C7.41101 3.68235 10.3176 6.58899 14 7C10.3176 7.41101 7.41101 10.3176 7 14C6.58899 10.3176 3.68235 7.41101 0 7C3.68235 6.58899 6.58899 3.68235 7 0Z" fill="%23964E13" /></svg>');
        display: block;
        width: 14px;
        height: 14px;
      }
    }
  }

  ol {
    list-style-position: inside;
  }

  *:not(:last-child) {
    margin-bottom: 0.6em;

    @include mobile {
      margin-bottom: 0.8em;
    }
  }
}

.history-message {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: rem(32);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--main-color);
  border-left: rem(4) solid var(--secondary-color);

  @include mobile {
    font-size: rem(18);
  }
}
