.marquee {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  width: calc(100% + rem(60));
  height: rem(92);

  margin-left: rem(-60);
  padding-left: rem(60);

  border-radius: 0 rem(100) rem(100) 0;
  overflow: hidden;

  background: var(--white-color);

  @include mobile {
    width: calc(100% + rem(22));
    height: rem(48);

    margin-left: rem(-16);
    padding-left: rem(16);
  }

  &__item {
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    gap: rem(20);
    margin-right: rem(20);

    animation: marquee 20s linear infinite;

    span {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: rem(24);
      line-height: 0;
      color: var(--main-color);

      @include mobile {
        font-size: rem(14);
      }
    }

    img {
      height: rem(12);
      object-fit: contain;
      object-position: center;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(rem(20));
  }

  100% {
    transform: translateX(-100%);
  }
}
