.programms {
  margin-block: rem(110) rem(120);

  @include mobile {
    margin-block: rem(60) rem(45);
  }

  &__inner {
    display: flex;
    align-items: start;
    gap: rem(100);

    @include mobile {
      flex-direction: column;
      gap: rem(28);
    }
  }

  &__title {
    padding-top: rem(40);
    flex: 1 1 auto;

    @include mobile {
      padding-top: 0;
    }
  }

  &__body {
    flex: 0 0 rem(1271);

    @include mobile {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  &__tabs {
    display: flex;
    align-items: end;
  }

  &__tab {
    display: grid;
    place-content: center;

    min-width: rem(196);
    height: rem(68);
    padding-inline: rem(20);
    border-radius: rem(10) rem(10) 0 0;
    background: rgba(255, 255, 255, 0.3);

    cursor: pointer;

    @include mobile {
      min-width: rem(119);
      height: rem(38);

      padding-inline: rem(10);
      border-radius: rem(10) rem(10) 0 0;
    }

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(36);
      line-height: 120%;
      color: var(--main-color);
      opacity: 0.2;

      @include mobile {
        font-size: rem(18);
      }
    }

    &.active {
      min-width: rem(280);
      height: rem(80);
      background: rgba(255, 255, 255);

      @include mobile {
        min-width: rem(169);
        height: rem(45);
      }

      cursor: default;

      span {
        font-style: italic;
        opacity: 1;
      }
    }
  }

  &__content {
    &::before {
      content: "";

      display: block;
      border-radius: 0 rem(10) 0 0;
      height: rem(40);
      background: #fff;

      @include mobile {
        display: none;
      }
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    gap: rem(4);

    border-radius: 0 0 rem(10) rem(10);
    overflow: hidden;

    &.active {
      display: flex;
    }
  }
}
