.reviews {
  &__inner {
  }

  &__title {
    margin-bottom: rem(43);

    @include mobile {
      margin-bottom: rem(24);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: rem(10);
    padding-bottom: rem(60);

    @include mobile {
      display: none;
    }
  }

  &__btn {
    flex: 0 0 auto;
    display: grid;
    place-content: center;

    width: rem(88);
    height: rem(88);

    border: rem(1) solid var(--main-color);
    border-radius: rem(24);
    transition: all 0.3s ease;

    @include hover {
      background-color: var(--main-color);

      .reviews__btn-arrow {
        transform: scale(1.1);
        filter: brightness(0) invert(1);
      }
    }
  }

  &__btn-arrow {
    width: rem(24);
    height: rem(24);

    transition: all 0.3s ease;
    will-change: transform;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__swiper {
    flex: 0 0 rem(1282);
    height: rem(400);
    margin-inline: 0;

    @include mobile {
      flex: 1 1 auto;

      height: auto;
      min-height: rem(280);

      padding-inline: rem(16);
      margin-inline: rem(-16);
    }
  }

  &__swiper-wrapper {
    height: 100%;

    @include mobile {
    }
  }

  &__swiper-slide {
    height: 100%;

    @include mobile {
      flex: 0 0 auto;
      width: rem(288);
    }

    &:not(:last-child) {
      //   margin-right: rem(20);
    }
  }
}

.review {
  width: 100%;
  height: 100%;

  border-radius: rem(10);
  padding: rem(20);
  background: #fff;

  @include mobile {
  }

  &__head {
    display: flex;
    align-items: center;
    gap: rem(15);
    height: rem(60);

    @include mobile {
      height: rem(50);
    }
  }

  &__head-img {
    width: rem(60);
    height: rem(60);
    border-radius: rem(10);

    img {
      width: 100%;
      height: 100%;
      object-position: top;
    }
  }

  &__head-info {
    display: flex;
    flex-direction: column;
    gap: rem(6);
  }

  &__head-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(24);
    line-height: 100%;
    color: rgba(0, 0, 0, 0.85);

    @include mobile {
      font-size: rem(18);
    }
  }

  &__head-city {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(16);
    line-height: 100%;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
  }

  &__body {
    flex: 1 1 auto;
    height: rem(300);

    padding-top: rem(17);

    @include mobile {
      height: rem(190);
    }
  }

  &__body-scroll {
    height: 100%;

    overflow-y: auto;
  }

  &__body-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: rem(18);
    line-height: 130%;
    color: rgba(0, 0, 0, 0.85);

    @include mobile {
      font-size: rem(14);
    }

    p,
    li {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: rem(18);
      line-height: 130%;
      color: rgba(0, 0, 0, 0.85);

      @include mobile {
        font-size: rem(14);
      }
    }
  }
}
