.supports {
  position: relative;
  margin-block: rem(150) rem(90);
  padding-block: rem(78) rem(90);

  @include mobile {
    margin-block: rem(45) rem(60);
    padding-block: rem(60);
  }

  .container_section {
    padding-left: rem(210);

    @include mobile {
      padding-left: rem(16);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: rem(130);
    height: 100%;
    border-radius: 0 rem(10) rem(1000) 0;
    opacity: 0.2;

    background: var(--white-color);

    @include mobile {
      right: rem(16);
      border-radius: 0 rem(10) rem(100) 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-right: rem(174);

    @include mobile {
      padding-right: rem(30);
    }

    &:not(.supports__wrapper_padding) {
      .supports__line {
        &:nth-child(2) {
          text-align: right;
        }

        &:nth-child(3) {
          align-self: flex-start;
          margin-left: rem(48);
        }
      }
    }

    &_padding {
      padding-right: rem(233);

      .supports__line:nth-child(3) {
        padding-right: rem(80);

        @include mobile {
          padding-right: rem(15);
        }
      }

      @include mobile {
        padding-right: rem(30);
      }
    }
  }

  &__line {
    display: flex;
    align-items: end;

    font-family: var(--font4);
    font-variant: lining-nums;
    font-feature-settings: "lnum";
    font-weight: 400;
    font-size: rem(96);
    line-height: 100%;
    color: #3d2116;

    white-space: nowrap;

    @include mobile {
      position: relative;

      font-size: rem(32);
      white-space: wrap;
    }

    &:nth-child(1) {
    }
    &:nth-child(2) {
      align-self: end;
    }
    &:nth-child(3) {
      align-self: center;
      padding-right: rem(590);

      @include mobile {
        padding-right: 0;
      }
    }

    &_padding {
      padding-right: rem(30);
    }
  }

  &__line-stroke {
    flex: 0 0 auto;
    width: rem(102);
    height: rem(43);

    margin-left: rem(34);
    margin-bottom: rem(17);

    @include mobile {
      position: absolute;
      right: rem(50);

      width: rem(46);
      height: rem(20);

      margin: 0;
    }
  }

  &__line-star {
    flex: 0 0 auto;
    width: rem(53);
    height: rem(53);

    margin-right: rem(18);
    margin-bottom: rem(7);

    @include mobile {
      position: absolute;
      left: 0;

      transform: translateX(calc(-100% - rem(10)));

      width: rem(24);
      height: rem(24);

      margin: 0;
    }
  }
}
