.btn-star {
  position: relative;

  display: flex;
  align-items: center;
  gap: rem(10);

  font-family: var(--font-family);
  font-weight: 400;
  line-height: 130%;

  &__icon {
    width: rem(22);
    height: rem(22);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: rem(100);

    transition: transform 0.3s ease;
  }

  &_main {
    color: var(--white-color);

    @include hover {
      &::after {
        transform: scale(1.05);
      }
    }

    &::after {
      background: var(--main-color);
    }
  }

  &_white {
    color: var(--main-color);

    @include hover {
      &::after {
        transform: scale(1.05);
      }
    }

    &::after {
      background: var(--white-color);
    }
  }
}
