.btn-star {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: rem(10);

  font-family: var(--font-family);
  font-weight: 400;
  line-height: 0;

  &__icon {
    width: rem(22);
    height: rem(22);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: rem(100);

    transition: transform 0.3s ease;
    will-change: transform;
  }

  &_main {
    color: var(--white-color);

    @include hover {
      &::before {
        transform: scale(1.05);
      }
    }

    &::before {
      background: var(--secondary-color);
    }
  }

  &_white {
    color: var(--main-color);

    @include hover {
      &::before {
        transform: scale(1.05);
      }
    }

    &::before {
      background: var(--white-color);
    }
  }
}

.title {
  position: relative;

  font-family: var(--font-family);
  font-weight: 300;
  font-size: rem(24);
  line-height: 100%;
  color: var(--main-color);

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + rem(6));
    left: 0;
    width: rem(102);
    height: rem(4);

    background: var(--secondary-color);
  }
}
