<section class="about" data-anchors-point="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__decor">
                <img src="/img/icons/about/1.svg" alt="" class="about__decor-icon">
                <img src="/img/icons/about/2.svg" alt="" class="about__decor-icon">
            </div>
            <h2 class="title about__title">о профессии</h2>
            <div class="about__body">
                <div class="about__text">
                    <span>Менеджер маркетплейса</span>
                    — это специалист, который удалённо занимается продвижением
                    товаров на больших крупных маркетплейсах Wildberries и Оzon.
                </div>
                <div class="about__info">
                    <img class="about__img" src="/img/about.png" />
                    <div class="about__cms">
                        <h5>Чем предстоит заниматься</h5>
                        <ul>
                            <li>
                                регистрировать личный кабинет селлера
                            </li>
                            <li>
                                создавать карточки товара
                            </li>
                            <li>
                                работать с инфографикой
                            </li>
                            <li>
                                формировать семантическое ядро
                            </li>
                            <li>
                                работать с ценообразование
                            </li>
                            <li>
                                просчитывать юнит-экономику
                            </li>
                            <li>
                                делать анализы ниши
                            </li>
                            <li>
                                коммуницировать с клиентами
                            </li>
                            <li>
                                выстраивать внутреннюю и внешнюю стратегию продвижения
                            </li>
                            <li>
                                управлять поставками товаров на склады
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>