<section class="author" data-anchors-point="author">
    <div class="container container_section">
        <div class="author__inner">
            <div class="author__left">
                <h2 class="title author__title">
                    автор курса
                </h2>
                <img class="author__img el-mobile" src="/img/history/author.png" alt="">
                <div class="author__author">
                    <span>
                        Ирина
                    </span>
                    Кудакова
                </div>
            </div>
            <div class="author__body">
                <div class="author__text">
                    Знания, которые я кропотливо собирала за годы работы менеджером маркетплейсов и куратором, помогут
                    ВАМ выйти на высокий доход и свободе в своей жизни.
                </div>
                <div class="author__cards">
                    <div class="author__card">
                        <div class="title author__card-title">
                            опыт работы
                        </div>
                        <div class="author__card-info">
                            более <span>3</span> лет
                        </div>
                    </div>
                    <div class="author__card">
                        <div class="title author__card-title">
                            в крупных проеках релизованно
                        </div>
                        <div class="author__card-info">
                            более <span>40</span> кейсов
                        </div>
                    </div>
                    <div class="author__card">
                        <div class="title author__card-title">
                            учеников выпущено
                        </div>
                        <div class="author__card-info">
                            более <span>120</span> человек
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>