<section class="faq" data-anchors-point="faq">
    <div class="container container_section">
        <div class="faq__inner">

            <h2 class="title faq__title">
                часто задаваемые вопросы
            </h2>
            <div class="faq__body">
                <div class="accordion">
                    <div class="accordion__head accordion__head_faq">
                        <div class="accordion__head-inner">
                            <div class="accordion__head-title">
                                Могут ли быть селлеры из другой точки мира?
                            </div>
                        </div>
                        <div class="accordion__close">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="15" cy="15" r="15" transform="matrix(1 0 0 -1 0 30)" fill="#E4E4E4" />
                                <path d="M10 13L15 18L20 13" stroke="#3D2116" />
                            </svg>
                        </div>
                    </div>
                    <div class="accordion__body">
                        <div class="accordion__body-height">
                            <div class="accordion__body-inner">
                                <p>
                                    Как из России, так и из других стран. Однако работа с зарубежными маркетплейсами
                                    имеет особенности, связанные с законодательными требованиями, выбором площадок,
                                    логистикой
                                    и налогами.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__head accordion__head_faq ">
                        <div class="accordion__head-inner">
                            <div class="accordion__head-title">
                                Какой доход у менеджера?
                            </div>
                        </div>
                        <div class="accordion__close">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="15" cy="15" r="15" transform="matrix(1 0 0 -1 0 30)" fill="#E4E4E4" />
                                <path d="M10 13L15 18L20 13" stroke="#3D2116" />
                            </svg>
                        </div>
                    </div>
                    <div class="accordion__body">
                        <div class="accordion__body-height">
                            <div class="accordion__body-inner">
                                <p>
                                    Медианная зарплата менеджеров среднего звена в России составляет 120 000 рублей, при
                                    этом 25% специалистов получают свыше 200 000 рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__head accordion__head_faq">
                        <div class="accordion__head-inner">
                            <div class="accordion__head-title">
                                Как проходит обучение, просмотр уроков?
                            </div>
                        </div>
                        <div class="accordion__close">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="15" cy="15" r="15" transform="matrix(1 0 0 -1 0 30)" fill="#E4E4E4" />
                                <path d="M10 13L15 18L20 13" stroke="#3D2116" />
                            </svg>
                        </div>
                    </div>
                    <div class="accordion__body">
                        <div class="accordion__body-height">
                            <div class="accordion__body-inner">
                                <p>
                                    Особенности обучения в онлайн-школе включают формат занятий, предоставление
                                    материалов, оценку успеваемости и общение между учениками и преподавателями.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__head accordion__head_faq">
                        <div class="accordion__head-inner">
                            <div class="accordion__head-title">
                                Как происходит поиск поставщиков?
                            </div>
                        </div>
                        <div class="accordion__close">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="15" cy="15" r="15" transform="matrix(1 0 0 -1 0 30)" fill="#E4E4E4" />
                                <path d="M10 13L15 18L20 13" stroke="#3D2116" />
                            </svg>
                        </div>
                    </div>
                    <div class="accordion__body">
                        <div class="accordion__body-height">
                            <div class="accordion__body-inner">
                                <p>
                                    Комбинируйте каналы, проверяйте каждого кандидата и выстраивайте долгосрочные
                                    отношения с надёжными партнёрами.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>