<section class="first" data-anchors-point="first">
    <div class="container container_section">
        <div class="first__wrapper">
            <div class="first__inner">
                <div class="first__info">
                    <h1 class="first__title">
                        <div class="first__title-line">
                            Обучаю
                            <img src="/img/icons/first-decor-1.svg" alt="" class="first__title-decor">
                        </div>
                        <div class="first__title-line">
                            <img src="/img/icons/first-decor-2.svg" alt="" class="first__title-decor">
                            востребованной
                        </div>
                        <div class="first__title-line">
                            профессии
                            <img src="/img/icons/first-decor-3.svg" alt="" class="first__title-decor">
                        </div>
                    </h1>
                    <div class="first__description">
                        Управляйте бизнес-процессами на Wildberries и Ozon
                    </div>
                    <a href="" class="btn-star btn-star_main first__link">
                        <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                        Начать обучение
                    </a>
                </div>
                <img src="/img/first.png" alt="first" class="first__img">
            </div>
            <div class="marquee">
                <div class="marquee__item">
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Работай удаленно
                    </span>
                    <img src="/img/icons/marquee/2.svg" alt="">
                    <span>
                        Будь сам себе начальником
                    </span>
                    <img src="/img/icons/marquee/3.svg" alt="">
                    <span>
                        Открой новую жизнь
                    </span>
                    <img src="/img/icons/marquee/4.svg" alt="">
                    <span>
                        Расти и зарабатывай
                    </span>
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Записывайся на курс
                    </span>
                </div>
                <div class="marquee__item">
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Работай удаленно
                    </span>
                    <img src="/img/icons/marquee/2.svg" alt="">
                    <span>
                        Будь сам себе начальником
                    </span>
                    <img src="/img/icons/marquee/3.svg" alt="">
                    <span>
                        Открой новую жизнь
                    </span>
                    <img src="/img/icons/marquee/4.svg" alt="">
                    <span>
                        Расти и зарабатывай
                    </span>
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Записывайся на курс
                    </span>
                </div>
                <div class="marquee__item">
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Работай удаленно
                    </span>
                    <img src="/img/icons/marquee/2.svg" alt="">
                    <span>
                        Будь сам себе начальником
                    </span>
                    <img src="/img/icons/marquee/3.svg" alt="">
                    <span>
                        Открой новую жизнь
                    </span>
                    <img src="/img/icons/marquee/4.svg" alt="">
                    <span>
                        Расти и зарабатывай
                    </span>
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Записывайся на курс
                    </span>
                </div>
                <div class="marquee__item">
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Работай удаленно
                    </span>
                    <img src="/img/icons/marquee/2.svg" alt="">
                    <span>
                        Будь сам себе начальником
                    </span>
                    <img src="/img/icons/marquee/3.svg" alt="">
                    <span>
                        Открой новую жизнь
                    </span>
                    <img src="/img/icons/marquee/4.svg" alt="">
                    <span>
                        Расти и зарабатывай
                    </span>
                    <img src="/img/icons/marquee/1.svg" alt="">
                    <span>
                        Записывайся на курс
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>