<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__header">
                <div class="footer__header-inner">
                    <div class="footer__header-left">
                        <a href="" class="footer__header-logo">
                            <img class="footer__header-logo-icon" src="/img/logo-footer.svg" alt="logo" />
                            <div class="footer__header-logo-subtitle">
                                © 2025
                            </div>
                        </a>
                        <nav class="footer__header-links">
                            <a href="" class="footer__header-link">О курсе</a>
                            <a href="" class="footer__header-link">Тарифы</a>
                            <a href="" class="footer__header-link">Программа</a>
                            <a href="" class="footer__header-link">Отзывы</a>
                        </nav>
                    </div>
                    <div class="footer__header-right">
                        <a href="" class="footer__header-phone">
                            <img src="/img/icons/main-phone.svg" alt="phone" class="footer__header-phone-img">
                            +7 923 546 88 21
                        </a>
                        <a href="" class="btn-star btn-star_white footer__header-record">
                            <img src="/img/icons/main-star.svg" alt="star" class="btn-star__icon">
                            Запись на курс
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-links">
                    <a href="" class="footer__bottom-link">
                        Правовая информация
                    </a>
                    <a href="" class="footer__bottom-link">
                        Условия оферты
                    </a>
                </div>
                <div class="footer__bottom-copyright">
                    Мы <a href="" class="">используем файлы cookie</a>, для персонализации сервисов и повышения удобства
                    пользования сайтом. Если вы не согласны на их использование, поменяйте настройки браузера.
                </div>
            </div>
        </div>
    </div>
</footer>