<section class="history" data-anchors-point="history">
    <div class="container container_section">
        <div class="history__inner">
            <div class="history__wrapper">
                <h2 class="title history__title">
                    моя история
                </h2>
                <div class="history__body">
                    <div class="history__top">
                        <div class="history__top-left">
                            <div class="history__top-left-text history-cms">
                                <p>
                                    Мой путь в маркетплейсе начался три года назад. Долгое время я работала в
                                    образовании -
                                    учителем начальных классов. Все закончилось выгоранием: низкая оплата труда и
                                    постоянные
                                    рамки из которых можно выбраться только увольнением. Очень хотелось работать
                                    удалённо,
                                    но при этом получать деньги.
                                </p>
                            </div>
                            <img class="history__top-left-img" src="/img/history/author-small.png" alt="">
                        </div>
                        <div class="history__top-right">
                            <img src="/img/history/author.png" alt="" class="history__top-right-img">
                            <div class="history__top-right-text history-cms">
                                <p>
                                    Я отучилась на курсы менеджера маркетплейсов. Тогда я не думала о том, получится или
                                    не получится. Было очень страшно, обучение купила в рассрочку. Сразу после курса я
                                    начала работать с поставщиками, при этом я тут же ухожу в декрет, куча мыслей:
                                    рассрочка, обучение, беременность, поставщики, - ведь мы все знаем, что никто и
                                    нигде нас не ждет. Изначально это был один поставщик, затем был второй, третий так я
                                    и начала свой путь.
                                </p>
                                <p>
                                    Работа, конечно, сначала была не такой легкой, как в ожиданиях, были ошибки, но
                                    преодолев их, я пришла к тому, что сейчас сама планирую свой день, работаю удалённо
                                    и получаю хороший доход.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="history__middle">
                        <div class="history__middle-top">
                            <div class="history-message history__middle-message">
                                Я выросла во всех сферах личности, выстроила себя и полностью довольна собой.
                            </div>
                            <img class="history__middle-img-1" src="/img/history/middle-1.png" alt="">
                            <img class="history__middle-img-2" src="/img/history/middle-2.png" alt="">
                        </div>
                        <div class="history__middle-text history-cms">
                            <p>
                                Спустя какое-то время меня пригласили работать куратором в школу в которой я училась.
                            </p>
                            <p>
                                Я выпустила там более четырёх потоков учеников, большинство из них это 80% хороших
                                результов, а в группах у меня было от 20 до 30 человек. Все ученики успешно работают,
                                кто-то выходит как селлер.
                            </p>
                        </div>
                    </div>
                    <img src="/img/history/message.png" alt="" class="history__messages">
                    <div class="history__bottom">
                        <div class="history__bottom-left">
                            <div class="history-cms history__bottom-cms">
                                <p>
                                    В январе 2025 года я решила, что хочу идти в свободное плавание, потому что он у
                                    меня очень большой практически опыт, я довожу до результата всех учеников и при этом
                                    я постоянно покупаю обучения, обучаюсь сама. Веду поставщиков и предоставляю им
                                    разовые услуги, так и ведение под ключ. Открываю ИП с образовательным оквэдом и
                                    понимаю, что хочу обучать сама.
                                </p>
                                <p>
                                    И вот наконец, я начала обучать, написала программу, открыла личные кабинеты на
                                    площадках для практической отработки домашних заданий
                                </p>
                            </div>
                            <div class="history-message history__bottom-message">
                                Моя школа существует вопреки всем законам маркетинга, строгим законам бизнеса и политике
                                бизнесменов, я хочу показать честный и системный упор на развитие предпринимательства:
                                доверие клиентов, становление личности и развитием себя в удаленной профессии.
                            </div>
                            <div class="history-cms history__bottom-cms">
                                <p>
                                    В моем продукте нет подводных камней, я всегда говорю: необязательно зависеть от
                                    найма, чтобы работать удалённо, нужно уметь самоорганизовываться и в таком случае
                                    можно начать самому зарабатывать и при этом не иметь потолка в заработке.
                                </p>
                                <p>
                                    Маркетплейсы - это такая же удалённая работа, как любая работа в найме, только
                                    отличается тем, что мы здесь у нас нет как таковых начальников, мы организуем свое
                                    время сами и мы можем брать поставщиков столько, сколько мы сможем по времени
                                    уделить им внимание.
                                </p>
                            </div>
                        </div>
                        <img src="/img/history/bottom.png" alt="bottom" class="history__bottom-img">
                    </div>
                </div>
            </div>
            <div class="history__scope">
                <h4 class="history__scope-title">
                    <div>
                        В этой сфере можно
                    </div>
                    <div>
                        зарабатывать и расти
                    </div>
                </h4>
                <div class="history__scope-author">
                    <div class="history__scope-text">
                        «Нет непреодолимых целей, есть маленький человек, которого мы постоянно жалеем»
                    </div>
                    <div class="history__scope-post">
                        <div class="history__scope-post-info">
                            P.S.
                        </div>
                        <div class="history__scope-post-name">
                            Ирина <span>Кудакова</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>