<section class="reviews" data-anchors-point="reviews">
    <div class="container container_section">
        <div class="reviews__inner">
            <h2 class="title reviews__title">отзывы учеников</h2>
            <div class="reviews__body">
                <div class="reviews__btns">
                    <button class="btn-reset reviews__btn js-swiper-reviews--left">
                        <img src="/img/icons/arrow-left.svg" alt="" class="reviews__btn-arrow">
                    </button>
                    <button class="btn-reset reviews__btn js-swiper-reviews--right">
                        <img src="/img/icons/arrow-right.svg" alt="" class="reviews__btn-arrow">
                    </button>
                </div>
                <div class="swiper reviews__swiper js-swiper-reviews">
                    <div class="swiper-wrapper reviews__swiper-wrapper">
                        @for(let i = 0; i < 2; i++) { <!-- -->
                            <div class="swiper-slide reviews__swiper-slide">
                                <div class="review">
                                    <div class="review__head">
                                        <div class="review__head-img">
                                            <img src="/img/review.png" alt="">
                                        </div>
                                        <div class="review__head-info">
                                            <div class="review__head-name">
                                                Ольга Лещенко
                                            </div>
                                            <div class="review__head-city">
                                                Омск
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review__body">
                                        <div class="review__body-scroll">
                                            <div class="review__body-text">
                                                Наталья Акулич проводит курс по Озону и ВБ, который является отличным
                                                стартом для новичков. Весь материал структурирован и подается понятно,
                                                есть
                                                много практических заданий. Наталья всегда готова помочь и поддержать,
                                                что
                                                очень вдохновляет.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide reviews__swiper-slide">
                                <div class="review">
                                    <div class="review__head">
                                        <div class="review__head-img">
                                            <img src="/img/review.png" alt="">
                                        </div>
                                        <div class="review__head-info">
                                            <div class="review__head-name">
                                                Ольга Лещенко
                                            </div>
                                            <div class="review__head-city">
                                                Омск
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review__body">
                                        <div class="review__body-scroll">
                                            <div class="review__body-text">
                                                Когда я решила пойти учиться
                                                на менеджера маркетплейсов,
                                                то не нашла отзывов про обучение. Позже выяснила, что это новый курс.
                                                В подкастах про эту профессию советовали идти учиться в большие
                                                компании,
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide reviews__swiper-slide">
                                <div class="review">
                                    <div class="review__head">
                                        <div class="review__head-img">
                                            <img src="/img/review.png" alt="">
                                        </div>
                                        <div class="review__head-info">
                                            <div class="review__head-name">
                                                Ольга Лещенко
                                            </div>
                                            <div class="review__head-city">
                                                Омск
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review__body">
                                        <div class="review__body-scroll">
                                            <div class="review__body-text">
                                                Когда я решила пойти учиться
                                                на менеджера маркетплейсов,
                                                то не нашла отзывов про обучение. Позже выяснила, что это новый курс.
                                                В подкастах про эту профессию советовали идти учиться в большие
                                                компании,
                                                потому что они актуализируют учебный материал.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>