<section class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <h2 class="title reviews__title">отзывы учеников</h2>
            <div class="reviews__body">
                <div class="reviews__btns">
                    <button class="btn-reset reviews__btn js-swiper-reviews--left">
                        <img src="/img/icons/arrow-left.svg" alt="" class="reviews__btn-arrow">
                    </button>
                    <button class="btn-reset reviews__btn js-swiper-reviews--right">
                        <img src="/img/icons/arrow-right.svg" alt="" class="reviews__btn-arrow">
                    </button>
                </div>
                <div class="swiper reviews__swiper js-swiper-reviews">
                    <div class="swiper-wrapper reviews__swiper-wrapper">
                        <div class="swiper-slide reviews__swiper-slide">
                            <div class="review">
                                <div class="review__head">
                                    <div class="review__head-img">
                                        <img src="/img/review.png" alt="">
                                    </div>
                                    <div class="review__head-info">
                                        <div class="review__head-name">
                                            Ольга Лещенко
                                        </div>
                                        <div class="review__head-city">
                                            Омск
                                        </div>
                                    </div>
                                </div>
                                <div class="review__body">
                                    <div class="review__body-scroll">
                                        <div class="review__body-text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>