<section class="special">
    <div class="special__bg">
    </div>
    <div class="container container_section">
        <div class="special__wrapper">
            <img src="/img/icons/special/decor.svg" alt="" class="special__decor">
            <h2 class="title special__title">
                Специальное предложение
            </h2>
            <div class="special__body">
                <div class="special__text">
                    Уже работаете менеджером маркетплейсов?
                    <br>
                    Помогу выйти на новый уровень!
                </div>
                <div class="platform special__platform">
                    <label for="special-radio" class="platform__label platform__label_one">
                        Одна платформа(WB или Ozon)
                    </label>
                    <label class="platform__checkbox-wrapper" for="special-radio">
                        <input class="platform__radio" id="special-radio" type="checkbox" name="platform">
                        <div class="platform__checkbox"></div>
                    </label>
                    <label for="special-radio" class="platform__label platform__label_two">
                        Две платформы(WB и Ozon)
                    </label>
                </div>
                <div class="special__tariff special__tariff_one">
                    <div class="special__tariff-title">
                        Продвинутый уровень
                    </div>
                    <div class="special__tariff-cms">
                        <ul>
                            <li>
                                Предоставление актуальных обновлений
                            </li>
                            <li>
                                Аудит кабинета вашего поставщика
                            </li>
                            <li>
                                Предоставление стратегии продвижения
                            </li>
                            <li>
                                Работа в течение 1 месяца в вашем кабинете
                            </li>
                        </ul>
                    </div>
                    <div class="special__tariff-price">
                        Стоимость курса
                        <span>
                            45 000 ₽
                        </span>
                    </div>
                    <a href="" class="btn-star btn-star_main special__tariff-btn">
                        <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                        Выбрать курс
                    </a>
                </div>
                <div class="special__tariff special__tariff_two">
                    <div class="special__tariff-title">
                        Продвинутый уровень
                    </div>
                    <div class="special__tariff-cms">
                        <ul>
                            <li>
                                Предоставление актуальных обновлений
                            </li>
                            <li>
                                Аудит кабинета вашего поставщика
                            </li>
                            <li>
                                Предоставление стратегии продвижения
                            </li>
                            <li>
                                Работа в течение 2 месяцев в ваших кабинетах
                            </li>
                        </ul>
                    </div>
                    <div class="special__tariff-price">
                        Стоимость курса
                        <span>
                            55 000 ₽
                        </span>
                    </div>
                    <a href="" class="btn-star btn-star_main special__tariff-btn">
                        <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                        Выбрать курс
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>