<section class="tariffs" data-anchors-point="tariffs">
    <div class="container container_section">
        <div class="tariffs__inner">
            <h2 class="title tariffs__title">тарифы курса</h2>
            <div class="tariffs__body">
                <div class="tariffs__top">
                    <div class="tariffs__heading">
                        New <span>Менеджер</span>
                    </div>
                    <div class="platform">
                        <label for="platform-radio" class="platform__label platform__label_one">
                            Одна платформа(WB или Ozon)
                        </label>
                        <label class="platform__checkbox-wrapper" for="platform-radio">
                            <input class="platform__radio" id="platform-radio" type="checkbox" name="platform">
                            <div class="platform__checkbox"></div>
                        </label>
                        <label for="platform-radio" class="platform__label platform__label_two">
                            Две платформы(WB и Ozon)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>