<section class="tariffs" data-anchors-point="tariffs">
    <div class="container container_section">
        <div class="tariffs__inner">
            <img src="/img/icons/tariffs/stars.svg" alt="" class="tariffs__decor">
            <h2 class="title tariffs__title">тарифы курса</h2>
            <div class="tariffs__body">
                <div class="tariffs__top">
                    <div class="tariffs__heading">
                        New <span>Менеджер</span>
                    </div>
                    <div class="platform">
                        <label for="platform-radio" class="platform__label platform__label_one">
                            Одна платформа(WB или Ozon)
                        </label>
                        <label class="platform__checkbox-wrapper" for="platform-radio">
                            <input class="platform__radio" id="platform-radio" type="checkbox" name="platform">
                            <div class="platform__checkbox"></div>
                        </label>
                        <label for="platform-radio" class="platform__label platform__label_two">
                            Две платформы(WB и Ozon)
                        </label>
                    </div>
                </div>
                <div class="tariffs__list tariffs__list_one">
                    <div class="tariff tariff_standard">
                        <div class="tariff__top">
                            <div class="tariff__title">
                                Стандарт
                            </div>
                            <div class="tariff__cms">
                                <ul>
                                    <li>
                                        Доступ к курсу 6 месяцев
                                    </li>
                                    <li>
                                        Бесплатные обновления
                                    </li>
                                    <li>
                                        1 созвон с Ириной Кудаковой
                                    </li>
                                    <li>
                                        Дополнительные материалы в виде информационных листов и кейсов
                                    </li>
                                    <li>
                                        1 онлайн консультация куратора
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <svg class="tariff__decor" width="142" height="311" viewBox="0 0 142 311" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3"
                                d="M20 -4.45856e-06C20 71.4121 122 32.2546 122 103.667C122 175.079 20 135.921 20 207.333C20 278.745 122 239.588 122 311"
                                stroke="white" stroke-width="40" />
                        </svg>
                        <div class="tariff__bottom">
                            <div class="tariff__price">
                                Стоимость курса
                                <span>
                                    35 000 ₽
                                </span>
                            </div>
                            <a href="" class="btn-star btn-star_main tariff__btn">
                                <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                                Выбрать курс
                            </a>
                            <a href="" class="tariff__cheaper">
                                Как купить дешевле?
                            </a>
                        </div>
                    </div>
                    <div class="tariff tariff_leader">
                        <div class="tariff__top">
                            <div class="tariff__title">
                                Наставник
                            </div>
                            <div class="tariff__cms">
                                <ul>
                                    <li>
                                        Доступ к курсу 12 месяцев
                                    </li>
                                    <li>
                                        Бесплатные обновления
                                    </li>
                                    <li>
                                        Проверка домашних заданий
                                    </li>
                                    <li>
                                        Сертификат о прохождении курса
                                    </li>
                                    <li>
                                        Чат единомышленников
                                    </li>
                                    <li>
                                        Дополнительные материалы в виде информационных листов и кейсов
                                    </li>
                                    <li>
                                        Обратная связь от куратора в течение всего доступа
                                    </li>
                                    <li>
                                        2 групповые онлайн- встречи с Ириной Кудаковой
                                    </li>
                                    <li>
                                        Помощь в ведении кабинета первого поставщика
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <svg class="tariff__decor" width="229" height="319" viewBox="0 0 229 319" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M159.5 0L166.65 64.0598C171.834 110.505 208.495 147.166 254.94 152.35L319 159.5L254.94 166.65C208.495 171.834 171.834 208.495 166.65 254.94L159.5 319L152.35 254.94C147.166 208.495 110.505 171.834 64.0598 166.65L0 159.5L64.0598 152.35C110.505 147.166 147.166 110.505 152.35 64.0598L159.5 0Z"
                                fill="#F9F9F9" />
                        </svg>
                        <div class="tariff__bottom">
                            <div class="tariff__price">
                                Стоимость курса
                                <span>
                                    55 000 ₽
                                </span>
                            </div>
                            <a href="" class="btn-star btn-star_main tariff__btn">
                                <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                                Выбрать курс
                            </a>
                            <a href="" class="tariff__cheaper">
                                Как купить дешевле?
                            </a>
                        </div>
                    </div>
                    <div class="tariff tariff_business">
                        <div class="tariff__top">
                            <div class="tariff__title">
                                Бизнес
                            </div>
                            <div class="tariff__cms">
                                <ul>
                                    <li>
                                        Доступ к курсу 18 месяцев
                                    </li>
                                    <li>
                                        Бесплатные обновления
                                    </li>
                                    <li>
                                        Проверка домашних заданий
                                    </li>
                                    <li>
                                        Сертификат о прохождении курса
                                    </li>
                                    <li>
                                        Чат единомышленников
                                    </li>
                                    <li>
                                        Дополнительные материалы в виде информационных листов и кейсов
                                    </li>
                                    <li>
                                        Обратная связь от куратора в течение всего доступа
                                    </li>
                                    <li>
                                        Онлайн - встречи с Ириной Кудаковой по запросу в течение обучения
                                    </li>
                                    <li>
                                        Дополнительный месяц работы с поставщиком + 2 консультации
                                    </li>
                                    <li>
                                        При успешном кейсе своей работы с поставщиком, поэтапное предоставление
                                        работы с поставщиком
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <svg class="tariff__decor" width="177" height="352" viewBox="0 0 177 352" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M177 88.5C177 70.9964 171.81 53.8858 162.085 39.332C152.361 24.7783 138.539 13.435 122.367 6.73666C106.196 0.0383058 88.4018 -1.71429 71.2345 1.7005C54.0672 5.11529 38.298 13.5441 25.921 25.9211C13.5441 38.298 5.11529 54.0672 1.7005 71.2345C-1.71429 88.4018 0.038306 106.196 6.73666 122.367C13.435 138.539 24.7783 152.361 39.332 162.085C53.8858 171.81 70.9964 177 88.5 177V88.5H177Z"
                                fill="#F2F2F2" />
                            <path
                                d="M7.52187e-06 263.5C9.05209e-06 281.004 5.19044 298.114 14.9149 312.668C24.6394 327.222 38.4613 338.565 54.6325 345.263C70.8038 351.962 88.5982 353.714 105.766 350.3C122.933 346.885 138.702 338.456 151.079 326.079C163.456 313.702 171.885 297.933 175.299 280.765C178.714 263.598 176.962 245.804 170.263 229.633C163.565 213.461 152.222 199.639 137.668 189.915C123.114 180.19 106.004 175 88.5 175L88.5 263.5L7.52187e-06 263.5Z"
                                fill="#F2F2F2" />
                        </svg>
                        <div class="tariff__bottom">
                            <div class="tariff__price">
                                Стоимость курса
                                <span>
                                    85 000 ₽
                                </span>
                            </div>
                            <a href="" class="btn-star btn-star_main tariff__btn">
                                <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                                Выбрать курс
                            </a>
                            <a href="" class="tariff__cheaper">
                                Как купить дешевле?
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tariffs__list tariffs__list_two">
                    <div class="tariff tariff_standard">
                        <div class="tariff__top">
                            <div class="tariff__title">
                                Стандарт
                            </div>
                            <div class="tariff__cms">
                                <ul>
                                    <li>
                                        Доступ к курсу 6 месяцев
                                    </li>
                                    <li>
                                        Бесплатные обновления
                                    </li>
                                    <li>
                                        1 созвон с Ириной Кудаковой
                                    </li>
                                    <li>
                                        Дополнительные материалы в виде информационных листов и кейсов
                                    </li>
                                    <li>
                                        1 онлайн консультация куратора
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <svg class="tariff__decor" width="142" height="311" viewBox="0 0 142 311" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.05"
                                d="M20 -4.45856e-06C20 71.4121 122 32.2546 122 103.667C122 175.079 20 135.921 20 207.333C20 278.745 122 239.588 122 311"
                                stroke="white" stroke-width="40" />
                        </svg>
                        <div class="tariff__bottom">
                            <div class="tariff__price">
                                Стоимость курса
                                <span>
                                    45 000 ₽
                                </span>
                            </div>
                            <a href="" class="btn-star btn-star_main tariff__btn">
                                <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                                Выбрать курс
                            </a>
                            <a href="" class="tariff__cheaper">
                                Как купить дешевле?
                            </a>
                        </div>
                    </div>
                    <div class="tariff tariff_leader">
                        <div class="tariff__top">
                            <div class="tariff__title">
                                Наставник
                            </div>
                            <div class="tariff__cms">
                                <ul>
                                    <li>
                                        Доступ к курсу 12 месяцев
                                    </li>
                                    <li>
                                        Бесплатные обновления
                                    </li>
                                    <li>
                                        Проверка домашних заданий
                                    </li>
                                    <li>
                                        Сертификат о прохождении курса
                                    </li>
                                    <li>
                                        Чат единомышленников
                                    </li>
                                    <li>
                                        Дополнительные материалы в виде информационных листов и кейсов
                                    </li>
                                    <li>
                                        Обратная связь от куратора в течение всего доступа
                                    </li>
                                    <li>
                                        2 групповые онлайн- встречи с Ириной Кудаковой
                                    </li>
                                    <li>
                                        Помощь в ведении кабинета первого поставщика
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <svg class="tariff__decor" width="229" height="319" viewBox="0 0 229 319" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M159.5 0L166.65 64.0598C171.834 110.505 208.495 147.166 254.94 152.35L319 159.5L254.94 166.65C208.495 171.834 171.834 208.495 166.65 254.94L159.5 319L152.35 254.94C147.166 208.495 110.505 171.834 64.0598 166.65L0 159.5L64.0598 152.35C110.505 147.166 147.166 110.505 152.35 64.0598L159.5 0Z"
                                fill="#10341C" fill-opacity="0.03" />
                        </svg>
                        <div class="tariff__bottom">
                            <div class="tariff__price">
                                Стоимость курса
                                <span>
                                    75 000 ₽
                                </span>
                            </div>
                            <a href="" class="btn-star btn-star_white tariff__btn">
                                <img src="/img/icons/main-star.svg" alt="star" class="btn-star__icon">
                                Выбрать курс
                            </a>
                            <a href="" class="tariff__cheaper">
                                Как купить дешевле?
                            </a>
                        </div>
                    </div>
                    <div class="tariff tariff_business">
                        <div class="tariff__top">
                            <div class="tariff__title">
                                Бизнес
                            </div>
                            <div class="tariff__cms">
                                <ul>
                                    <li>
                                        Доступ к курсу 18 месяцев
                                    </li>
                                    <li>
                                        Бесплатные обновления
                                    </li>
                                    <li>
                                        Проверка домашних заданий
                                    </li>
                                    <li>
                                        Сертификат о прохождении курса
                                    </li>
                                    <li>
                                        Чат единомышленников
                                    </li>
                                    <li>
                                        Дополнительные материалы в виде информационных листов и кейсов
                                    </li>
                                    <li>
                                        Обратная связь от куратора в течение всего доступа
                                    </li>
                                    <li>
                                        Онлайн - встречи с Ириной Кудаковой по запросу в течение обучения
                                    </li>
                                    <li>
                                        Дополнительный месяц работы с поставщиком + 2 консультации
                                    </li>
                                    <li>
                                        При успешном кейсе своей работы с поставщиком, поэтапное предоставление
                                        работы с поставщиком
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <svg class="tariff__decor" width="177" height="352" viewBox="0 0 177 352" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M177 88.5C177 70.9964 171.81 53.8858 162.085 39.332C152.361 24.7783 138.539 13.435 122.367 6.73666C106.196 0.0383058 88.4018 -1.71429 71.2345 1.7005C54.0672 5.11529 38.298 13.5441 25.921 25.9211C13.5441 38.298 5.11529 54.0672 1.7005 71.2345C-1.71429 88.4018 0.038306 106.196 6.73666 122.367C13.435 138.539 24.7783 152.361 39.332 162.085C53.8858 171.81 70.9964 177 88.5 177V88.5H177Z"
                                fill="#472C22" />
                            <path
                                d="M7.52187e-06 263.5C9.05209e-06 281.004 5.19044 298.114 14.9149 312.668C24.6394 327.222 38.4613 338.565 54.6325 345.263C70.8038 351.962 88.5982 353.714 105.766 350.3C122.933 346.885 138.702 338.456 151.079 326.079C163.456 313.702 171.885 297.933 175.299 280.765C178.714 263.598 176.962 245.804 170.263 229.633C163.565 213.461 152.222 199.639 137.668 189.915C123.114 180.19 106.004 175 88.5 175L88.5 263.5L7.52187e-06 263.5Z"
                                fill="#472C22" />
                        </svg>
                        <div class="tariff__bottom">
                            <div class="tariff__price">
                                Стоимость курса
                                <span>
                                    95 000 ₽
                                </span>
                            </div>
                            <a href="" class="btn-star btn-star_main tariff__btn">
                                <img src="/img/icons/white-star.svg" alt="star" class="btn-star__icon">
                                Выбрать курс
                            </a>
                            <a href="" class="tariff__cheaper">
                                Как купить дешевле?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>