<section class="supports">
    <div class="supports__bg"></div>
    <div class="container container_section">
        <div class="supports__wrapper">
            <div class="supports__line">
                Ученики курса получают
                <img src="/img/icons/main-stroke.svg" alt="" class="supports__line-stroke">
            </div>
            <div class="supports__line">
                актуальные обновления
            </div>
            <div class="supports__line">
                <img src="/img/icons/main-star.svg" alt="" class="supports__line-star">
                бесплатно
            </div>
        </div>
    </div>
</section>