// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "calc";

@import "./components/header";
@import "./components/footer";
@import "./components/ui";
//
@import "./components/first";
@import "./components/marquee";
@import "./components/author";
@import "./components/about";
@import "./components/tariffs";
@import "./components/supports";
@import "./components/reviews";
@import "./components/faq";
@import "./components/accordion";
@import "./components/programms";
@import "./components/anchors";
@import "./components/special";
@import "./components/history";
